body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ball {
  background-color: #f06;
  border-radius: 50%;
  margin: 1rem;
  width: 100px;
  height: 100px;
}

/* iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .ball:nth-child(2) {
    order: 3;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .ball {
    width: 50px;
    height: 50px;
  }
}

/* Orientation */
@media (orientation: landscape) {
  .container {
    flex-direction: row;
  }

  .ball {
    width: 50px;
    height: 50px;
  }
}
